/* index.css-Jonathan Beels */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.GRAY{
background-color:rgba(178, 190, 195,1.0);
}

.RED{
background-color:rgba(214, 48, 49,0.6);
}

.GREEN{
background-color:rgba(0, 184, 148,1.0);
}

.YELLOW{
background-color:rgba(255, 234, 167,1.0	);
}

.PINK{
background-color:rgba(253, 121, 168,1.0);
}

.BLUE{
background-color:rgba(116, 185, 255,1.0);
}

.ORANGE{
background-color:rgba(225, 112, 85,1.0);
}

.PURPLE{
background-color:rgba(162, 155, 254,1.0);
}



.PLAYEROUTLINE
{
	border:5px;
	border-style: solid;
}

.GRAYLT{
background-color:rgba(178, 190, 195,0.15) !important;
border-color:rgba(178, 190, 195,1);
}

.REDLT{
background-color:rgba(214, 48, 49,0.15) !important;
border-color:rgba(214, 48, 49,0.4);
}

.GREENLT{
background-color:rgba(0, 184, 148,0.15) !important;
border-color:rgba(0, 184, 148,0.6);
}

.YELLOWLT{
background-color:rgba(255, 234, 167,0.15) !important;
border-color:rgba(255, 234, 167,0.6);
}


.PINKLT{
background-color:rgba(253, 121, 168,0.15) !important;

}

.BLUELT{
background-color:rgba(116, 185, 255,0.15) !important;
border-color:rgba(116, 185, 255,0.6);
}

.ORANGELT{
background-color:rgba(225, 112, 85,0.15) !important;
}

.PURPLELT
{
background-color:rgba(162, 155, 254,0.15) !important;
border-color:rgba(225, 112, 85,0.15);
}

.MuiSelect-select.MuiSelect-select
{
padding-right:10px !important
}

.MuiSelect-icon
{
margin-right:-15px !important
}

.MuiTooltip-popper
{
position:absolute;
top:0;
right:20%;
width:70%;
}

.errorCondition{
background-color:rgba(214, 48, 49,0.05);
}
